@page "/counter"
@inject ExampleJsInterop ExampleJsInteropObj;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Add</button>

<button class="btn btn-primary" @onclick="Popup">@text</button>

@code {
    private int currentCount = 0;
    private string text = "Click me";

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void Popup()
    {
        text = await ExampleJsInteropObj.Prompt("Hello");
        StateHasChanged();
    }
}
