/* _content/RazorClassLibrary2/Component2.razor.rz.scp.css */
.my-component[b-e9v753zb1a] {
    border: 2px dashed blue;
    padding: 1em;
    margin: 1em 0;
    position: relative;
    overflow: hidden;
}

    .my-component[b-e9v753zb1a]::before {
        background: url(background.png);
        transform: rotateX(180deg);
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
